// This file is used to define environment variables for the frontend application.
// The variables defined here will be accessible in the application code using import.meta.env.VITE_VARIABLE_NAME
// change according to your backend server address and API key
VITE_API_URL = http://backend:3000 
VITE_API_KEY = YOUR_API_KEY_HERE